Flask_Bootstrap==3.3.7.0
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
wsgiref==0.1.2
watson-developer-cloud==0.20.0
fuzzywuzzy==0.14.0
numpy==1.11.2
requests==2.11.1
tqdm==4.8.4
Flask==0.11.1
nltk==3.2.1
psycopg2==2.6.2
python_dateutil==2.6.0
