<!DOCTYPE html>
<html>
<head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Feedback form</title>
    <h1 style="text-align: center;"> Feedback for Research Purpose </h1><hr>
</head>
<body style="text-align: center;">
<div  class="row text-center">
{% if question %}
    <div id ="question"> Question: {{question}}</div>
    <div id = "intent">Intent: {{intent}}</div>
    <div id="entity">Entity: {{entity}}</div>
    <div id="watsonReply"></div>
{% else %}
<form name="queryForm" action="feedback" method = "POST">
    Please enter the question/doubt asked by incoming student:<br>
	<textarea name="question" cols="50" rows="5" required></textarea><br>
	<input type="submit" class="btn btn-success" name="submitQuestion" value="Send Question">
</form>
{% endif %}
</div>
</div>

<script>
function validateForm() {
    var x = document.forms["queryForm"]["question"].value;
    if (x == null || x == "") {
        alert("Question must be filled out");
        return false;
    }
}
</script>
</body>
</html>