<!DOCTYPE html>
<html>
<head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Feedback form</title>
    <h1 style="text-align: center;"> Feedback for Research Purpose </h1><hr>
</head>
<body>
<div class="container" style="margin-top:20px;">
<div  class="row text-center">
    <h4 id ="question"> Question: {{question}}</h4><br>
    <ul><h3>Response 1 :</h4></ul>
    <h4 id = "intent">Watson detected Intent: {{intent}}</h4>
    <h4 id="entity">Watson detected Entity: {{entity}}</h4><br>
    <h4 id="response">Engine built response: {{response}}</h4><br>    
    <ul><h3>Response 2 :</h4></ul>
    <h4 id="solr">Solr retrieved link: {{link}}</h4>   <br> 
	<form action="feedbackSubmit" method = POST>
		Which Response was the best for the question asked according to you?<br>
        <select id="selectBestResponse" name="selectBestResponse">
            <option value="0">Please select</option>
            <option value="watson">1</option>
            <option value="solr">2</option>
            <option value="both">Both</option>	    
            <option value="none">None of the above</option>
        </select>
		<input type="submit" class="btn btn-success" name="submitIntentEntity" value="Send Intent & Entity">
	</form>

</div>
</div>	
</body>
</html>
