
  {% extends "bootstrap/base.html" %}
{% block title %}Feedback form{% endblock %}
{% block content %}
<div class="container" style="margin-top:20px;">
<div  class="row text-center">
    <h4 id ="question"> Question: {{question}}</h4>
    <h4 id = "intent">Watson detected Intent: {{intent}}</h4>
    <h4 id="entity">Watson detected Entity: {{entity}}</h4>
    <h4 id="solr">Solr retrieved document: {{document}}</h4>    
    Entity and Intent according to you:<br>
	<form action="feedbackSubmit" method = POST>
		Intent: <input type="text" name="intent_user" required><br>
		Entity: <input type="text" name="entity_user" required>
		<input type="submit" name="submitIntentEntity" value="Send Intent & Entity">
	</form>

</div>
</div>	

{% endblock %}
